In [7]:
import pandas as pd
import numpy as np
import random
from faker import Faker

# Configuración del generador de datos falsos
fake = Faker()

# Crear usuarios
users = [(i, fake.name(), fake.unique.random_number(digits=8, fix_len=True)) for i in range(1000)]
users_df = pd.DataFrame(users, columns=["user_id", "name_user", "rut_user"])

# Crear vehículos
vehicles = [(i, fake.random_element(elements=('Sedan', 'SUV', 'Hatchback', 'Pickup')), fake.year()) for i in range(100)]
vehicles_df = pd.DataFrame(vehicles, columns=["vehicle_id", "vehicle_type", "vehicle_year"])

# Crear viajes
trips = []
for i in range(10000):
    user = users_df.sample().iloc[0]
    vehicle = vehicles_df.sample().iloc[0]
    price_amount = int(np.random.uniform(1000, 30000))
    price_tax = price_amount * 0.19
    price_total = int(price_amount + price_tax)
    start_time = fake.date_time_between_dates(datetime_start=pd.to_datetime('2022-01-01'), datetime_end=pd.to_datetime('2023-01-01'))
    end_time = start_time + pd.Timedelta(minutes=random.randint(10, 24*60))
    booking_time = start_time - pd.Timedelta(minutes=random.randint(1, 15))
    start_lat = np.random.uniform(-33.5, -34.5)
    start_lon = np.random.uniform(-70.5, -71.5)
    end_lat = np.random.uniform(-33.5, -34.5)
    end_lon = np.random.uniform(-70.5, -71.5)
    
    trips.append([
        i, user["user_id"], user["name_user"], user["rut_user"], vehicle["vehicle_id"], booking_time,
        start_time, end_time, fake.random_element(elements=(1,2,3,4,5,6)), int(np.random.uniform(100, 100000)),
        fake.random_element(elements=(1,2,3)), price_amount, price_tax, price_total, start_lat, start_lon,
        end_lat, end_lon
    ])

trips_df = pd.DataFrame(trips, columns=[
    "trip_id", "user_id", "name_user", "rut_user", "vehicle_id", "booking_time",
    "start_time", "end_time", "status_id", "travel_dist",
    "membership_id", "price_amount", "price_tax", "price_total", "start_lat",
    "start_lon", "end_lat", "end_lon"
])

In [10]:
trips_df.to_csv('trips.csv', index=False)

In [13]:
trips_df

,trip_id,user_id,name_user,rut_user,vehicle_id,booking_time,start_time,end_time,status_id,travel_dist,membership_id,price_amount,price_tax,price_total,start_lat,start_lon,end_lat,end_lon
0,0,476,Rebecca Charles,59959528,95,2022-03-07 22:48:16,2022-03-07 22:55:16,2022-03-08 18:28:16,4,6165688,1,11122,2113.18,13235,-33.878638,-71.027883,-34.123515,-71.356369
1,1,427,Alex Reeves,90517421,83,2022-07-08 19:36:54,2022-07-08 19:43:54,2022-07-09 09:52:54,3,7020217,1,2489,472.91,2961,-34.098971,-71.275367,-33.856470,-71.170419
2,2,987,Mr. Jeremy Torres,36729496,61,2022-05-25 05:04:42,2022-05-25 05:14:42,2022-05-25 08:16:42,3,803100,3,1656,314.64,1970,-33.581529,-70.538966,-33.930672,-70.507020
3,3,343,Amanda Willis,70770856,12,2022-05-12 03:53:27,2022-05-12 04:02:27,2022-05-12 04:40:27,1,24,3,28272,5371.68,33643,-34.341512,-71.411191,-34.029063,-71.222540
4,4,74,Brenda Carter,23148564,92,2022-10-18 02:42:03,2022-10-18 02:55:03,2022-10-19 00:57:03,4,1049859,3,2765,525.35,3290,-33.510118,-70.545884,-33.843074,-70.567037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,434,Ian Pitts,42169848,75,2022-10-22 16:56:20,2022-10-22 16:57:20,2022-10-23 12:05:20,3,531,2,3279,623.01,3902,-33.624811,-71.112014,-33.582652,-71.047483
9996,9996,66,Robin Thomas,42994390,73,2022-09-01 02:10:39,2022-09-01 02:25:39,2022-09-01 09:24:39,1,69160,2,26326,5001.94,31327,-34.302125,-70.730933,-34.450906,-70.771017
9997,9997,533,Sarah Morgan,15687916,84,2022-01-08 07:39:46,2022-01-08 07:41:46,2022-01-09 02:49:46,5,12017,1,15894,3019.86,18913,-34.058890,-70.669467,-33.718784,-70.550364
9998,9998,974,Rebecca Kelley,30934370,87,2022-01-20 05:30:37,2022-01-20 05:40:37,2022-01-21 05:21:37,6,17265485,3,9526,1809.94,11335,-34.364488,-71.300906,-33.930987,-70.784395
9999,9999,956,Holly Stokes,35255661,14,2022-10-13 19:51:12,2022-10-13 19:59:12,2022-10-14 01:48:12,2,338741,2,20184,3834.96,24018,-34.057165,-71.303160,-34.093845,-70.896576